<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">
</head>
<body>
	<div class="container text-center">
    	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>VOTE ASSEMBLÉE GÉNÉRALE</h1>    				
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
	    			</div>
    			</div>
    		</div>
    	</header>
    	<section>
		    <div class="row title">
		    	<div class="col-xs-9 titre">
			        <h4> 
			        	<%= vote.intitule.toUpperCase() %>
			    	</h4>
					<p>Sélectionnez vos conseillers</p>
		    	</div>
		    	<div class="col-xs-3 fond-blanc">
		        	<h4>MANDATS</h4>
		    		<input type="number" class="text-center nbMandat" min="0" value="<%= user.nbMandat %>" disabled="" />
		    	</div>
		    </div>
	    		<div class="fond-blanc">
	    			<form action="/confirmationE/vote/<%= vote._id %>" method="post">
					    <div class="row ">
					        <div class="col-xs-12 proposition">
					        	<div class="row">
					        		<div class="col-xs-12 col-md-6 reponse">
					        			<table class="table table-striped table-responsive tab-selection">
					        				<tr>
					        					<th>LISTE DES CONSEILLERS</th>
					        				</tr>
					        				<tr>
					        					<td>Défilez la liste et cliquez pour ajouter dans votre sélection</td>
					        				</tr>
					        			</table>
					        			<div class="list-election">
						        			<table class="table table-striped table-responsive tab-list">
						        				<% for (let i = 0; i < vote.choix.length; i++){ %>
													<tr>
														<td class="rang select" onclick="" >
															<%= i+1 %>
														</td>
														<td class="choice-to-select">
															<h4>
																<%= vote.choix[i] %>
															</h4>
														</td>
													</tr>
						        				<% } %>
											</table>
										</div>
					        		</div>
					        		<div class="col-xs-12 col-md-6 reponse">
					        			<table class="table table-striped table-responsive">
					        				<tr>
					        					<th>VOTRE SÉLECTION</th>
					        				</tr>
					        				<tr>
					        					<td>Cliquez pour retirer le représentant</td>
					        				</tr>
					        			</table>
					        			<table class="table table-striped table-responsive tab-choices">
										</table>
					        		</div>
					        	</div>
					        </div>
						</div>
					    <div class="row">
					     	<div class="col-lg-12">
				         		<button type="submit" class="valider-choix">
						         	<h4>Valider</h4>
								</button>
					     	</div>
					    </div>
					</form>
	    		</div>		    		
       	</section>
    </div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<script type="text/javascript" src="./../../js/voter.js" ></script>
	<script type="text/javascript">

		let candidat = document.querySelectorAll(".choice-to-select");
		let tabchoices = document.querySelector('.tab-choices');

		console.log("tabchoices = " + tabchoices.length)
		for(let i = 0; i < candidat.length; i++){
			candidat[i].addEventListener("click", (e) => {
				$(candidat[i]).removeClass('choice-to-select').addClass('choice-unable');

				let tr = document.createElement("tr");
				$(tr).addClass("tr-choice");
				tabchoices.append(tr);

				let tdChoiceSelected = document.createElement("td");
				let tdRang = document.createElement("td");

				tr.append(tdChoiceSelected);
				$(tdChoiceSelected).addClass("choice-selected");

				let input = document.createElement("input");
				$(input).addClass("input-choice");
				$(input).attr("name");
				input.name = "choix";
				$(input).prop("readonly", true);

				tdChoiceSelected.append(input);
				input.value += candidat[i].innerText;

				tr.append(tdRang);
				$(tdRang).addClass("rang-selection");
				tdRang.innerHTML = i+1;

			});
		}

		let selection = document.querySelectorAll(".input-choice");
		let tr = document.querySelectorAll('.tr-choice');

		for(let i = 0; i < tr.length; i++){
			selection[i].addEventListener("click", (e) => {
				console.log(selection[i]);
				tabchoices.removeChild(tr);
			});
		}


		// candidat.addEventListener("click", (e) => {
		// 	candidat.css()
		// })

		// function strick(){

		// }

		// function unstrick(){

		// }

		// document.onkeydown = function (event) {
		//     event = event || window.event;
		//     if (event.keyCode == 38 ) {
		//     	console.log("OK HAUT");
		//     } else if (event.keyCode == 40) {
		//     	console.log("OK BAS");
		//     }
		// }

	</script>
</body>
</html>