<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">
</head>
<body>
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-6">
				<p style="text-align: left;">Connecté(e) : <span class="color-orange"><%= user.nom.toUpperCase() %> <%= user.prenom.toUpperCase() %></span></p>
		    </div>
		    <div class="col-xs-6">
		    	<p style="text-align: right;"><a href="/logout">Déconnexion</a></p>
	    	</div>
	    </div>
    	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>XVIIème CONGRES
		    				<br/>
		    				UIR-CFDT</h1>    				
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
	    			</div>
    			</div>
    		</div>
    	</header>
    	<nav>
    		<div class="row">
    			<div class="col-xs-12">
					<div class="progress">
						<div class="circle done">
					    	<span class="label done">1</span>
					    	<span class="nav-title">CHOIX</span>
					  	</div>
						<span class="bar wait"></span>
						<div class="circle wait">
					    	<span class="label wait">2</span>
					    	<span class="nav-title" id="nav-title-confirmation">CONFIRMATION</span>
					  	</div>
					  	<span class="bar wait"></span>
					  	<div class="circle wait">
					    	<span class="label wait">3</span>
					    	<span class="nav-title">FIN</span>
					  	</div>
					</div>
				</div>
			</div>
    	</nav>
    	<section>
		    <div class="row title">
		    	<div class="col-xs-9 titre">
			        <h4>VOTE 
			        	<%= vote.intitule.toUpperCase() %>
			    	</h4>
					<p>Dispersez vos mandats</p>
		    	</div>
		    	<div class="col-xs-3 fond-blanc">
		        	<h4>Mandats restant</h4>
		    		<input type="number" id="mandatUser" class="text-center nbMandat" min="0" value="<%= user.nbMandat %>" readonly />
		    	</div>
		    </div>
	    		<div class="fond-blanc">
	    			<form action="/confirmation/vote/<%= vote._id %>" method="post">
					    <div class="row ">
					        <div class="col-xs-6 proposition">
					        	<div class="row">
					        		<div class="col-xs-12 reponse">
						        		<h4>« 
											<%= vote.choix[0] %>
										 »</h4>
					        		</div>
					        	</div>
							    <div class="row">
			    			        <div class="col-lg-12">
			    			        	<input type="number" name="pour" placeholder="0" class="text-center reponse1" min="0" max="<%= user.nbMandat %>" value="" />
			    			        </div>
								</div>
					        </div>

					        <div class="col-xs-6 proposition">
					        	<div class="row">
					        		<div class="col-xs-12 reponse">
						        		<h4>« 
											<%= vote.choix[1] %>
										 »</h4>
					        		</div>
					        	</div>
							    <div class="row">
			    			        <div class="col-lg-12">
			    			        	<input type="number" name="contre" placeholder="0" class="text-center reponse2" min="0" max="<%= user.nbMandat %>" value="" />
			    			        </div>
								</div>
					        </div>
						</div>
					    <div class="row">
					     	<div class="col-lg-12">
				         		<button type="submit" class="valider-choix-unable" disabled>
						         	<h4>Valider</h4>
								</button>
					     	</div>
					    </div>
					</form>
	    		</div>		    		
       	</section>
    </div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<script type="text/javascript">

		// DOM : Récupérer l'emplacement du nombre de mandat
		let nbMandat = document.querySelector(".nbMandat");

		// Sauvegarder le  nombre de mandats de début dans une constante afin de simplifier les manipulations
		const nbMandatMax = parseInt(nbMandat.value);

		// DOM : Récupérer les emplacement des inputs pour la Réponse 1 et 2 et bouton submit
		let reponse1 = document.querySelector(".reponse1");
		let reponse2 = document.querySelector(".reponse2");
		let toSubmit = document.querySelector(".valider-choix-unable");

		function repartitionAuto(elementClique, autre){
			if(parseInt(elementClique.value) <= nbMandatMax){
				nbMandat.value = nbMandatMax;
				autre.value = parseInt(nbMandat.value - elementClique.value);
				nbMandat.value = 0;
				$(toSubmit).prop('disabled', false);
				$(toSubmit).removeClass('valider-choix-unable').addClass('valider-choix');
			} else {
				elementClique.value = null;
				autre.value = null;
				nbMandat.value = nbMandatMax;
				alert("Vous avez inscrit plus que vos mandats disponibles ou vous ne les avez pas tous épuisés.");
				$(toSubmit).removeClass('valider-choix').addClass('valider-choix-unable');				
				$(toSubmit).prop('disabled', true);
			}
		};

		// Input de gauche : Ajout d'un évènement à chaque changement de valeur 
		reponse1.addEventListener("change", () => {repartitionAuto(reponse1, reponse2);});

		// Input de droite : Ajout d'un évènement à chaque changement de valeur 
		reponse2.addEventListener("change", () => {repartitionAuto(reponse2, reponse1);});

	</script>
</body>
</html>