<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">
</head>
<body>
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-6">
				<p style="text-align: left;">Connecté(e) : <span class="color-orange"><%= user.nom.toUpperCase() %> <%= user.prenom.toUpperCase() %></span></p>
			</div>
			<div class="col-xs-6">
				<p style="text-align: right;"><a href="/logout">Déconnexion</a></p>
			</div>
		</div>
		<header>
			<div class="container-fluid inner-header">
				<div class="row row-inner-header">
					<div class="col-xs-4 col-inner-header">
						<a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
					</div>

					<div class="col-xs-4 col-inner-header">
						<h1>XVIIème CONGRES
							<br/>
						UIR-CFDT</h1>    				
					</div>

					<div class="col-xs-4 col-inner-header">
						<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
					</div>
				</div>
			</div>
		</header>
    	<nav>
    		<div class="row">
    			<div class="col-xs-12">
					<div class="progress">
						<div class="circle done">
					    	<span class="label done">1</span>
					    	<span class="nav-title">CHOIX</span>
					  	</div>
						<span class="bar wait"></span>
						<div class="circle wait">
					    	<span class="label wait">2</span>
					    	<span class="nav-title" id="nav-title-confirmation">CONFIRMATION</span>
					  	</div>
					  	<span class="bar wait"></span>
					  	<div class="circle wait">
					    	<span class="label wait">3</span>
					    	<span class="nav-title">FIN</span>
					  	</div>
					</div>
				</div>
			</div>
    	</nav>
		<section>
			<div class="row title">
				<div class="col-xs-9 titre">
					<h4> 
						<%= vote.intitule.toUpperCase() %>
					</h4>
					<p>Sélectionnez vos 24 conseillers</p>
				</div>
				<div class="col-xs-3 fond-blanc">
					<h4>MANDATS</h4>
					<input type="number" class="text-center nbMandat" min="0" value="<%= user.nbMandat %>" readonly />
				</div>
			</div>
			<div class="fond-blanc">
				<form action="/confirmationE/vote/<%= vote._id %>" method="post">
					<div class="row ">
						<div class="col-xs-12 proposition">
							<div class="row">
								<div class="col-xs-12 col-md-6 reponse">
									<table class="table table-striped table-responsive tab-selection">
										<tr>
											<th>LISTE DES CONSEILLERS</th>
										</tr>
										<tr>
											<td>Défilez la liste et cliquez sur un(e) <span class="color-orange" style="font-size: 19px;">candidat(e)</span> pour l'ajouter à votre sélection.</td>
										</tr>
									</table>
									<div class="list-election">
										<table class="table table-striped table-responsive tab-list">
											<% for (let i = 0; i < vote.choix.length; i++){ %>
												<tr>
													<td class="rang select">
														<%= i+1 %>
													</td>
													<td class="choice-to-select">
														<a href="#" class="input-list" ><%= vote.choix[i].nom %></a>
													</td>
												</tr>
											<% } %>
										</table>
									</div>
								</div>
									<div class="col-xs-12 col-md-6 reponse">
										<table class="table table-striped table-responsive">
											<tr>
												<th>VOTRE SÉLECTION</th>
											</tr>
											<tr>
												<td>
												Vous avez sélectionnez <span id="compteur" class="color-orange">0</span> conseiller(s). Cliquez pour retirer le représentant.</td>
											</tr>
										</table>
									<div class="list-choices">
										<table class="table table-striped table-responsive tab-choices">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<button type="submit" class="valider-choix-unable" disabled>
								<h4>Valider</h4>
							</button>
						</div>
					</div>
				</form>
			</div>		    		
		</section>
	</div>

	<footer class="text-center">
	<p>DW2 Simplon Réunion | 2017</p>
	</footer>

												<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<script type="text/javascript">

		let candidat = document.querySelectorAll(".choice-to-select");
		let tabChoices = document.querySelector(".tab-choices");
		let compteur = document.querySelector("#compteur");
		let inputList = document.querySelectorAll(".input-list");
		let toSubmit = document.querySelector(".valider-choix-unable");

		function addRow(e){
			e.preventDefault();
			var currentLink = e.currentTarget;

			if ($(this).is("[disabled]") === false) {

				// AJOUTER UN CHOIX dans la liste de sélection
				disableItemInListElection(this);

				// Ajout du TR et création de l'élément TD
				let tr = createItemRowForChoices(tabChoices);
				
				// Ajout INPUT
				let input = createInputForUserSelectedChoice();
				$('td.choice-selected',tr).append(input);
				input.value = $(e.currentTarget).html();

				let inputChoice = document.querySelectorAll(".input-choice");
				valideOrNot(inputChoice, 24, toSubmit);

				// Une fois créer il est possible d'enlever de la liste

				// DOM sur les input et le ligne TR à supprimer
				// let selection = document.querySelectorAll(".input-choice");
				let trToDelete = document.querySelectorAll('.tr-choice');
				let unable = document.querySelectorAll(".input-list");
				addEventListenerToRemoveChoice(input, unable, inputChoice, toSubmit);
				compteur.innerText = tabChoices.children.length;
			}
			
			$(currentLink).attr('disabled','disabled');
		};

		function createItemRowForChoices(tabChoices){
			let tr = document.createElement("tr");
			$(tr).addClass("tr-choice");
			tabChoices.append(tr);

			// Ajout de la colonne (qui recevra un input)
			let tdChoiceSelected = document.createElement("td");
			$(tdChoiceSelected).addClass("choice-selected");
			tr.append(tdChoiceSelected);

			return tr;
		};

		function disableItemInListElection(element){
			// Change le CSS et rend la lien disable
			$(element.parentNode).removeClass('choice-to-select').addClass('choice-unable');
			$(element).prop('disabled', true);
		};

		function createInputForUserSelectedChoice(){
			let input = document.createElement("input");
			$(input).addClass("input-choice");
			$(input).attr("name");
			input.name = "choix";
			$(input).prop("readonly", true);

			return input;
		};

		// SUPPRIMER UN CHOIX
		// A chaque clique on supprime le TR du Tableau
		function addEventListenerToRemoveChoice(input, unable,inputChoice,toSubmit){
			input.addEventListener("click", (e) => {
				// Comparer avec le liste de gauche pour changer le CSS 
				unable.forEach( (element) => {
					if(input.value == $(element).html()){
						let tdParent =  element.parentNode;
						$(tdParent).removeClass('choice-unable').addClass('choice-to-select');
						$(element).removeAttr('disabled');
					}
				});
				
				// Supprimer la ligne
				$(e.currentTarget).parents('tr:first').remove();
				inputChoice = document.querySelectorAll(".input-choice");
				valideOrNot(inputChoice, 24, toSubmit, 1);
				compteur.innerText = tabChoices.children.length;
			});	
		};

		/**
		 * Validate or unvalidate the button validate
		 * @param tab 
		 * @param lengthMax
		 * @param button
		 */ 
		function valideOrNot (tab, lengthMax, button){
		 	console.log("longueur du tableau ", tab.length,tab);

		 	if((tab.length) === lengthMax){
		 		$(button).prop('disabled', false);
		 		$(button).removeClass('valider-choix-unable').addClass('valider-choix');
		 	} else {
		 		$(button).prop('disabled', true);
		 		$(button).removeClass('valider-choix').addClass('valider-choix-unable');
		 	}
		};

		//Add Eventlistener to the submit button in order to submit the form when
		//there is 24 names
		toSubmit.addEventListener("click", function(){
			let inputChoice = document.querySelectorAll(".input-choice");
			if(inputChoice.length < 24){
				alert("Vous avez sélectionné moins de 24 noms");
				// $(toSubmit).prop('disabled', false);
			} else if (inputChoice.length > 24){
				// $(toSubmit).prop('disabled', true);
				alert("Vous avez sélectionné plus de 24 noms");
			}
		});

		//Add eventlistener to the list of name to choose
		for(let i = 0; i < inputList.length; i++){
			inputList[i].addEventListener("click", addRow);
		}

	</script>
</body>
</html>