<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./../../css/voter/custom.css">

	<style type="text/css">
		.choice-selected:hover{
			background: none;
		}
	</style>
</head>
  <body>
    <div class="container text-center">
    	<p style="text-align: right;"><a href="/logout">Déconnexion</a></p>
    	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="#"><img id="uir-logo" src="./../../images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>XVIIème CONGRES
		    				<br/>
		    				UIR-CFDT</h1>    				
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<a href="#"><img id="cfdt-logo" src="./../../images/logo.gif" alt="CFDT logo"></a>    			    				
	    			</div>
    			</div>
    		</div>
    	</header>
    	<section>
		    <div class="row title">
		        <h4> 
		        	<%= vote.intitule.toUpperCase() %>
		    	</h4>
		    </div>
			<div class="fond-gris">
	    		<form action="/avoterE/vote/<%= vote._id %>" method="post">
					<h2>Confirmation de votre choix</h2>
				    <div class="row ">
				        <div class="col-xs-12 proposition">
				        	<div class="row">
				        		<div class="col-xs-0 col-md-3 reponse"></div>
				        		<div class="col-xs-12 col-md-6 reponse">
				        			<table class="table table-striped table-responsive">
				        				<tr>
				        					<th>VOTRE SÉLECTION</th>
				        				</tr>
				        			</table>
				        			<div class="text-center">
					        			<table class="table table-striped table-responsive">
							        		<% for (let i = 0; i < choix.length; i++){ %>
												<tr>
													<td class="rang-selection">
														<%= i+1 %>
													</td>												
													<td class="choice-selected">
														<input class="input-choice" name="choix[]"
															value="<%= choix[i] %>"" readonly
														/>
													</td>
												</tr>
					        				<% } %>
										</table>
									</div>
				        		</div>
				        		<div class="col-xs-0 col-md-3 reponse"></div>
				        	</div>
				        </div>
				    </div>

					<h2>Voulez-vous valider définitivement ?</h2>
				    <div class="row">
				     	<div class="col-sm-6">
			         		<button type="submit" class="btn-left">
					         	<h4>« Je valide »</h4>
							</button>
				     	</div>
						<div class="col-sm-6">
			        		<a href="/choixE/vote/<%= vote._id %>">					
				         		<button type="button" class="btn-right">
						         	<h4>Annuler</h4>
								</button>
							</a>
				     	</div>
				    </div>
				</form>
			</div>		    		
       	</section>
    </div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="./../../js/voter.js" ></script>
  </body>
</html>