
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CFDT Votant</title>
	<link rel="shortcut icon" href="./../../images/logo.gif" type="image/x-icon">
	<link rel="icon" href="./../../images/logo.gif" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./css/voter/custom.css">
</head>
<body>
    <div class="container text-center">
    	<p style="text-align: right;"><a href="/logout">Déconnexion</a></p>
    	<header>
    		<div class="container-fluid inner-header">
    			<div class="row row-inner-header">
	    			<div class="col-xs-4 col-inner-header">
	    			    <a href="/homeVoter"><img id="uir-logo" src="./images/uir.png" alt="UIR logo"></a>
	    			</div>

	    			<div class="col-xs-4 col-inner-header">
		    			<h1>XVIIème CONGRES
		    				<br/>
		    				UIR-CFDT</h1>    				
	    			</div>
					
	    			<div class="col-xs-4 col-inner-header">
		    			<a href="/homeVoter"><img id="cfdt-logo" src="./images/logo.gif" alt="CFDT logo"></a>
	    			</div>
    			</div>
    		</div>
    	</header>
    	<section>
    		<div id="bienvenue">
	    		<p><span class="color-orange">Mme./M.
    					<%= user.nom.toUpperCase() %>
    					<%= user.prenom.toUpperCase() %>
    			</span>,
    			<br/>
    			 porteur(se) de <span class="color-orange">
    					<%= user.nbMandat %>
    			</span> mandats du syndicat <span class="color-orange" style="text-transform: uppercase;">
    				<%= user.syndicat %>
				</span>,</p>
	    		<p>Bienvenue sur votre espace de vote.</p>
	    		<p>Veuillez sélectionner un vote <code>ouvert</code>
	          	<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert"></p>

	    	</div>
			<div>
	    		<a href="/homeVoter"><img id="uir-logo" src="./images/update-arrow.png" alt="UIR logo" style="width: 30px; margin: 0;"></a>
    			<p style="font-size: 10px;">Rafraîchir la page</p>
			</div>	    	
			
			<% if (messages.error) { %>
	    		<% for (let i = 0; i < messages.error.length; i++ ) { %>
                    <div class="alert alert-danger"><%= messages.error[i]  %></div>
                <% } %>
            <%}%>

                          
		     <div class="row title">
		        <h4>VOTES DÉCISIONNELS</h4>
		     </div>

		    <div class="row">
		        <div class="col-md-6">
		        	<div>
						<% if(vote[0].statut === true){ %>
							<% let vote1visited = user.vote.filter( function(element){ %>
								<% if(element.idVote == vote[0]._id){ %>
									<% return element%>
								<% } %>
							<% }) %>
							<% if(vote1visited == 0){ %>
								<a href="/choix/vote/<%= vote[0]._id %>">
				         		<button class="acces-vote" id="<%= vote[0]._id %>" type="button">
							<% } else {%>
								<a href="/homeVoter">
				         		<button class="unable-vote" id="<%= vote[0]._id %>" type="button">
								<% console.log("Vous avez déjà voté.")%>								
							<% } %>
						<% } else {%>
							<% console.log("Le vote 1 est fermé.")%>
							<a href="/homeVoter">
			         		<button class="acces-vote-unable" id="<%= vote[0]._id %>" type="button">

						<% } %>
			          			<h4>VOTE 1</h4>
			          			<p>
			        				<%= vote[0].intitule.toUpperCase() %>
			          			</p>
							</button>
						</a>
						<% if(vote[0].statut === true){ %>
	          				<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert">
						<% } else { %>
	          				<img class="statut-vote" src="./images/padlock.png" alt="Vote fermé">
						<% } %>
					</div>
					
					<div>
						<% if(vote[1].statut === true){ %>
							<% let vote2visited = user.vote.filter( function(element){ %>
								<% if(element.idVote == vote[1]._id){ %>
									<% return element%>
								<% } %>
							<% }) %>
							<% if(vote2visited == 0){ %>
								<a href="/choix/vote/<%= vote[1]._id %>">
				         		<button class="acces-vote" id="<%= vote[1]._id %>" type="button">
							<% } else {%>
								<a href="/homeVoter">
				         		<button class="unable-vote" id="<%= vote[1]._id %>" type="button">
								<% console.log("Vous avez déjà voté.")%>								
							<% } %>
						<% } else {%>
							<% console.log("Le vote 2 est fermé.")%>
							<a href="/homeVoter">
			         		<button class="acces-vote-unable" id="<%= vote[1]._id %>" type="button">
						<% } %>
			          			<h4>VOTE 2</h4>
			          			<p>
			        				<%= vote[1].intitule.toUpperCase() %>
			          			</p>
							</button>
						</a>
						<% if(vote[1].statut === true){ %>
	          				<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert">
						<% } else { %>
	          				<img class="statut-vote" src="./images/padlock.png" alt="Vote fermé">
						<% } %>
					</div>
		        </div>

		        <div class="col-md-6">
		        	<div>
						<% if(vote[2].statut === true){ %>
							<% let vote3visited = user.vote.filter( function(element){ %>
								<% if(element.idVote == vote[2]._id){ %>
									<% return element%>
								<% } %>
							<% }) %>
							<% if(vote3visited == 0){ %>
								<a href="/choix/vote/<%= vote[2]._id %>">
				         		<button class="acces-vote" id="<%= vote[0]._id %>" type="button">
							<% } else {%>
								<a href="/homeVoter">
				         		<button class="unable-vote" id="<%= vote[0]._id %>" type="button">
								<% console.log("Vous avez déjà voté.")%>								
							<% } %>
						<% } else {%>
							<% console.log("Le vote 3 est fermé.")%>
							<a href="/homeVoter">
			         		<button class="acces-vote-unable" id="<%= vote[2]._id %>" type="button">
						<% } %>
			          			<h4>VOTE 3</h4>
			          			<p>
			        				<%= vote[2].intitule.toUpperCase() %>
			          			</p>
							</button>
						</a>
						<% if(vote[2].statut === true){ %>
	          				<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert">
						<% } else { %>
	          				<img class="statut-vote" src="./images/padlock.png" alt="Vote fermé">
						<% } %>
					</div>

		        	<div>
						<% if(vote[3].statut === true){ %>
							<% let vote4visited = user.vote.filter( function(element){ %>
								<% if(element.idVote == vote[3]._id){ %>
									<% return element%>
								<% } %>
							<% }) %>
							<% if(vote4visited == 0){ %>
								<a href="/choix/vote/<%= vote[3]._id %>">
				         		<button class="acces-vote" id="<%= vote[0]._id %>" type="button">
							<% } else {%>
								<a href="/homeVoter">
				         		<button class="unable-vote" id="<%= vote[0]._id %>" type="button">
								<% console.log("Vous avez déjà voté.")%>								
							<% } %>
						<% } else {%>
							<% console.log("Le vote 4 est fermé.")%>
							<a href="/homeVoter">
			         		<button class="acces-vote-unable" id="<%= vote[3]._id %>" type="button">
						<% } %>
			          			<h4>VOTE 4</h4>
			          			<p>
			        				<%= vote[3].intitule.toUpperCase() %>
			          			</p>
							</button>
						</a>
						<% if(vote[3].statut === true){ %>
	          				<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert">
						<% } else { %>
	          				<img class="statut-vote" src="./images/padlock.png" alt="Vote fermé">
						<% } %>
					</div>
		        </div>
		     </div>

		     <div class="row title">
		     	<div class="col-lg-12">
		         	<h4>ÉLECTION</h4>
		     	</div>
		     </div>

		     <div class="row">
		     	<div class="col-lg-12">
		     		<div>
						<% if(vote[4].statut === true){ %>
							<% let vote5visited = user.vote.filter( function(element){ %>
								<% if(element.idVote == vote[4]._id){ %>
									<% return element%>
								<% } %>
							<% }) %>
							<% if(vote5visited == 0){ %>
								<a href="/choixE/vote/<%= vote[4]._id %>">
					         	<button class="acces-vote" id="<%= vote[4]._id %>" type="button">
							<% } else {%>
								<a href="/homeVoter">
					         	<button class="unable-vote" id="<%= vote[4]._id %>" type="button">
								<% console.log("Vous avez déjà voté.")%>								
							<% } %>
						<% } else {%>
							<% console.log("Le vote 5 est fermé.")%>
							<a href="/homeVoter">
			         		<button class="acces-vote-unable" id="<%= vote[4]._id %>" type="button">
						<% } %>
			          			<h4>VOTE 5</h4>
			          			<p><%= vote[4].intitule.toUpperCase() %></p>
							</button>
						</a>
							<% if(vote[4].statut === true){ %>
		          				<img class="statut-vote" src="./images/unlock.png" alt="Vote ouvert">
							<% } else { %>
		          				<img class="statut-vote" src="./images/padlock.png" alt="Vote fermé">
							<% } %>
					</div>
			   	</div>
		     </div>
       	</section>
    </div>

	<footer class="text-center">
		<p>DW2 Simplon Réunion | 2017</p>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>